.intro{
  display: flex;
  // border: 5px solid green;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 15rem);
  margin-top: 8rem;
  color: #444444;
}

.intro_content{
  // border: 5px solid rgb(206, 75, 70);
  padding: 2rem 0 0 0;
  animation: pop-in 1s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  height: calc(100vh - 11rem - 20rem);
  
  h3 {
    font-size: 1.6rem;
    padding-top: 3rem;
    margin: 0;

    span:nth-of-type(1) {
      padding-left: 2rem;
    }
    span:nth-of-type(2) {
      font-size: 3.2rem;
      padding-left: 7rem;
      color: #12800085;
    }

    span:nth-of-type(3) {
      padding-left: 11rem;
    }

    span:nth-of-type(4) {
      font-size: 1.6rem;
      padding-left: 14rem;
      color: #0056ff78;

    }
  }
  h2 {
    padding: 4rem 0 0 2rem;
    margin: 0;
  }
  h1 {
    font-size: 6rem;
    padding-left: 3rem;
    color: #1d516f;
    margin: 0;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8)
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.intro_scroll {
  // border: 1px solid black;
  position: absolute;
  bottom: 0;
  // here 2rem is the width of .intro_scroll
  left: calc(50vw - 2rem);
  height: 4rem;
  width: 2rem;
  padding: 1rem;
  animation: bounce 1s cubic-bezier(0, 0.95, 1, 0.85);
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -20px, 0);
  }
}


.fullscreen_background {
  // border: 5px solid orange;
  display: none;
}

.waive {
  position: relative;
  bottom: 20vh;
  z-index: -100;
}
// /***********************************************************************************************/
// /************************** greater than 768px and portrait ************************************/
// /***********************************************************************************************/
@media (min-width: 768px) and (orientation: portrait){
  .intro {
    align-items: unset;
    max-width: 1200px;
  }
  .intro_content {
    padding: 9% 0 0 15%;

    h3 {
      font-size: 2.5vw;

      span:nth-of-type(2) {
        font-size: 4.5vw;
      }

      span:nth-of-type(4) {
        font-size: 3.5vw;
      }
    }

    h2 {
      font-size: 3vw;
    }

    h1 {
      font-size: 8vw;
      padding-bottom: 0;
    }
  }

  .fullscreen_background {
    display: block;
    position: absolute;
    right: 0;
    bottom: 6vh;
    z-index: -1;
    max-width: 46vh;
    animation: fade-slide-down 5s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
  }

  @keyframes fade-slide-down {
    0%{
      opacity: 0;
      transform: translateY(-4rem)
    }
    100%{
      opacity: 1;
      transform: none;
    }
  }
}
// /***********************************************************************************************/
// /**************************** less than 899px Landscape ****************************************/
// /***********************************************************************************************/
@media (max-width: 899px) and (orientation: landscape) {
  .intro_content {
    padding: 0;
    h2 {
      padding: 0;
    }
  }
}
// /***********************************************************************************************/
// /************************* Between 900px and 1199px and landscape ******************************/
// /***********************************************************************************************/
@media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape) {
  .intro {
    align-items: unset;
    max-width: 1200px;
  }
  .intro_content{
    padding: 9% 0 0 15%;
    h3 {
      font-size: 2vw;
      span:nth-of-type(2) {
        font-size: 4.5vw;
      }
      span:nth-of-type(4) {
        font-size: 3.5vw;
      }
    }
    h2 {
      font-size: 3vw;
    }
    h1 {
      font-size: 8vw;
      padding-bottom: 0;
    }
  }
  .fullscreen_background {
    display: block;
    position: absolute;
    right: 0.7rem;
    bottom: calc(100vh - 90vh);
    z-index: -1;
    max-height: 47rem;
    animation: fade-slide-down 5s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
   }

   @keyframes fade-slide-down {
     0% {
       opacity: 0;
       transform: translateY(-4rem)
     }

     100% {
       opacity: 1;
       transform: none;
     }
   }

   .waive{
     bottom: 190px;
   }
}


// /***********************************************************************************************/
// /************************* greater than 1200px and landscape ***********************************/
// /***********************************************************************************************/
@media (min-width: 1200px) and (orientation: landscape){
  .intro {
    align-items: unset;
    max-width: 1200px;
  }
  .intro_content {
    padding: 9% 0 0 15%;
    h3 {
      font-size: 24px;
      span:nth-of-type(2) {
        font-size: 46.08px;
      }

      span:nth-of-type(4) {
        font-size: 35.84px;
      }
    }

    h2 {
      font-size: 30.72px;
    }

    h1 {
      font-size: 81.92px;
      padding-bottom: 0;
    }
  }
  .intro_scroll{
    width: 6rem;
    height: 6rem;
  }
  .fullscreen_background {
    display: block;
    position: absolute;
    right: calc((100vw - 1200px)/2);
    bottom: 5rem;
    z-index: -1;
    max-height: calc(100vh/1.7);
    opacity: 0;
    animation: fade-slide-down 5s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
   }

   @keyframes fade-slide-down {
     0% {
       opacity: 0;
       transform: translateY(-4rem)
     }

     100% {
       opacity: 1;
       transform: none;
     }
   }
   .waive{
     bottom: 250px;
   }
}

