@import '../../base/settings.scss';

.skills_higher_container{
  background: #C1C8E4;
}
.skills_container {
  // border: 5px solid grey;
  padding: 8rem 0 8rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  border: 0 solid #e2e2e2;
  border-radius: 25px;
  box-shadow: 0rem 0.125rem 16rem 0rem rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $body-main-grey;
  width: 14rem;
  height: 14rem;
  text-align: center;
  margin: 1rem;
  background: white;
  h3{
    margin: 1rem 0 0 0;
  }
  .bootstrap_big {
    display: none;
  }

  .bootstrap_small {
    display: block;
  }
}
.bouncing_jitter_fix:hover {
  height: 16rem;
  overflow: visible;
  .card {
    animation: bounce 0.5s cubic-bezier(0, 0.95, 1, 0.85);
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}
.icon{
  // border: 5px solid red;
  width: 40%;
  border-radius: 5px;
  fill: #1d516f;
}

.javascript {
  fill: #f0db4f;
}

.react{
  fill: #62dafa;
}

.html {
  fill: #e34f31;
}

.css {
  fill: #226fb4;
}

.sass {
  width: 70%;
}

.redux {
  fill: #7247b6;
}

.bootstrap {
  background: #5a4282;
  fill: #fff;
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  border-radius: 19px;
}

.npm {
  fill: #c7342a;
}

.git {
  fill: #e24c31;
}

.github {
  fill: #161415;
}

.webpack {
  fill: #87cef3;
}
.babel {
  width: 12rem;
}

.nodejs {
  // width: 10rem;
  // margin: 1rem
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -20px, 0);
  }
}

@media (min-width: 1024px){
  
  .card{
    width: 20rem;
    height: 20rem;
    .bootstrap_big {
      display: block;
    }

    .bootstrap_small {
      display: none;
    }
  }
  
  .bouncing_jitter_fix:hover {
    height: 22rem;
    overflow: visible;
    .card {
      animation: bounce 0.5s cubic-bezier(0, 0.95, 1, 0.85);
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
  }
  @keyframes bounce {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      transform: translate3d(0, -20px, 0);
    }
  }
}