@import "../../base/settings.scss";

.about_me_container {
  padding: 8rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.content_frame {
  border: 0 solid $border-grey;
  width: 93vw;
  max-width: 1200px;
  border-radius: 25px;
  box-shadow: 0rem 0.125rem 21rem 0rem rgba(0, 0, 0, 0.11);
  line-height: 3.5rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  color: $body-main-grey;

  p {
    padding: 4rem 1rem 0 2rem;
    text-align: left;
  }
  code {
    background: #4c4c4c;
    border-radius: 5px;
    color: rgb(187, 132, 110);
    padding: 0.7rem 1rem;
    
    span:nth-child(1){
      color: rgb(73, 184, 162);
    }
    span:nth-child(2){
      color: rgb(213, 213, 165);
    }
    span:nth-child(3){
      color: rgb(213, 213, 165);
    }
  }
}

@media (min-width: 1024px){
  .content_frame{
    font-size: 2rem;

    p {
      padding: 2rem 4rem 0 4rem;
      text-align: left;
    }
  }
  
}