.contacts_container {
  position: relative;
  // border: 5px solid grey;
  padding: 8rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  height: 100vh;
  background: #D6E9566E;
}
.social_logo{
  width: fit-content;
  // border: 1px solid red;
  padding: 1rem;
  margin: 0 1rem;
}
.twitter_logo {
  width: 5rem;
  height: 5rem;
}
.github_logo {
  width: 5rem;
}
.stackOverflow_logo {
  width: 20rem;
}
.linkedin_logo{
  width: 5rem;
  height: 5rem;
}
.Email_icon{
  height: 5rem;
  width: 5rem;
}
.resume {
  position: relative;
  right: auto;
  font-weight: 400;
  color: #4c4c4c;
  display: flex;
  padding: 1rem;
  h2 {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .resume {
    position: absolute;
    top: 20vh;
  }
}